#page-container {
  display: flex;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border: 4px solid purple;
}

/* First half of page */
#page-first-half {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border: 4px solid red;
}

/* Post Details Container */
#post-detail-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 4px solid blue;
}

/* Title for post (first half) */
#post-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 20%;
  border: 4px solid white;
  padding-left: 1.4vw;
  padding-bottom: 1.4vh;
  font-size: 3.33vh;
}

/* Content for post (first half) < post-photo + post-description */
#post-content {
  display: flex;
  flex-direction: column;
  height: 80%;
  border: 4px solid orange;
}

/* Photo in post content (first half => post-content) */
#post-photo {
  height: 40%;
  border: 4px solid maroon;
}

/* Description in post content (first half => post-content) */
#post-description {
  height: 60%;
  border: 4px solid green;
  padding: 3vh;
}

/* Second half of page */
#page-second-half {
  float: left;
  height: 100%;
  width: 50%;
  border: 4px solid green;
}

/* Header Text Container (second half) */
#main-title-container {
  display: flex;
  justify-content: center;
  height: 10%;
  margin: 0px;
  padding: 0px;
  border: .5px solid grey;
}

/* ELIS THOUGHTS text (second haf => main-title-container) */
#main-title-text {
  font-size: 4.5vh;
}

/* List of posts */
#post-list {
  display: flex;
  flex-direction: column;
  border: 4px solid lightblue;
  height: 90%;
}
