.modal-background {
  position: fixed;
  inset: 0;
  background-color: rgba(180, 180, 180, 0.486);
}

.modal-content {
  position: fixed;
  inset: 40;
  width: 20vw;
  height: 10vw;
  background-color: blue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
