/* TODO site-wide styling */
* {
  background-color: black;
  color: white;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}
